<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> DressMe </title>
    <!-- Styles -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css"> -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script> -->
    <script src="/js/scripts.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
    </header>

    <div>
      <div id="landing-container" class="displayed">
        <h1>Dress Me</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        <button type="button" id="landing-cta-button">Get Dressed</button>
        <h6><a href="#" id='landing-login-link'>Already signed up? Log in</a></h6>
      </div>
      <div>
        <div id="alert-msg" class="hidden">
          <!-- Msg goes here -->
        </div>
      </div>
      <div id="logged-in-container" class="hidden">
        <header>
          <h1>You are logged In!</h1>
          <a href="#" id="account-link">My Account</a>
          <a href="#" id="log-out-link">Logout</a>
        </header>

        <div id='content-container' class="displayed">
          <div id="">
            <div id="weather-forecast">
              <div id="morning-forecast">
                <h3>Morning</h3>
              </div>
              <div id="midday-forecast">
                <h3>Midday</h3>
              </div>
              <div id="evening-forecast">
                <h3>Evening</h3>

              </div>
            </div>
            <div id='rec-container'>
              <div id="current-weather-container">
                <h3>Today in [Insert City]</h3>
              </div>
              <div id="outfit-container">
              </div>
            </div>
          </div>
        </div>
        <div id="account-container" class="hidden">
        </div>
      </div>
      <div>
        <div>

          <!-- Log In -->
          <form id="login-form" class="hidden">
            <div>
              <input type="text" name="username" value="" placeholder="Phone Number">
              <input type="password" name="password" value="" placeholder="Password">
            </div>
            <div class="form-group">
              <a href="#" id="sign-up-link">Haven't sign-up yet? Click here</a>
            </div>
            <button type="submit" name="button">Log in</button>
          </form>

          <!-- Sign up -->
          <form id="sign-up-form" class="hidden">
            <div class="form-group">
              <input type="number" name="username" value="" placeholder="Username">
              <input type="number" name="zipcode" value="" placeholder="Zipcode">
              <input type="text" name="temp_pref" value="" placeholder="Temperature Preference">
              <input type="number" name="is_admin" value="" placeholder="Admin?">
              <input type="number" name="text_opt_in" value="" placeholder="Text?">
<!-- <input type="text" name="email" value="" placeholder="email"> -->
              <input type="password" name="password" value="" placeholder="Password">
              <input type="password" name="password_confirm" value="" placeholder="Password Confirm">
            </div>
            <div class="form-group">
              <a href="#" id="login-link">Already have an account? click here</a>
            </div>
            <button type="submit" class="btn btn-default" name="button">Sign up</button>
          </form>

          <!-- Items Form -->
        </div>
      </div>

    </div>

  </body>
</html>
