<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> DressMe </title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <script src="/js/otherscripts.js" charset="utf-8"></script>
    <script src="/js/text.js" charset="utf-8"></script>
    <script src="/js/apiResource.js" charset="utf-8"></script>
    <script src="/js/outfit.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>

  </head>
  <body>
    <header>
    </header>

    <div>
      <div id="landing-container" class="displayed">
        <h1>Dress Me</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        <br>
        <button type="button" id="landing-cta-button">Get Dressed</button><br>
        <a href="#" id='landing-login-link'>Already signed up? Log in</a>
      </div>
      <div>
        <div id="alert-msg" class="hidden">
          <!-- Msg goes here -->
        </div>
      </div>
      <div id="logged-in-container" class="hidden">
        <header id='logged-in'>
          <h1>You are logged In!</h1>
          <a href="#" id="account-link">My Account</a>
          <a href="#" id="log-out-link">Logout</a>
        </header>

        <div id='content-container' class="displayed">
          <div class="container">
            <div class="row">
              <div class = "six columns">
                <div id="weather-forecast">
                  <div id="morning-forecast">
                    <h4>Morning</h4>
                  </div>
                  <div id="midday-forecast">
                    <h4>Midday</h4>
                  </div>
                  <div id="evening-forecast">
                    <h4>Evening</h4>
                  </div>
                </div>
              </div>
              <div class = "five columns">
                <div id='rec-container'>
                  <div id="current-weather-container">
                    <h3>Today in [Insert City]</h3>
                  </div>
                  <div id="outfit-container">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="account-container" class="hidden">
          <form id="account-form">
            <div>
              <input type="number" name="username" value="" placeholder="Username">
              <input type="number" name="zipcode" value="" placeholder="Zipcode">
              <input type="text" name="temp_pref" value="" placeholder="Temperature Preference">
              <input type="number" name="text_opt_in" value="" placeholder="Text?">
            </div>
            <button id="update-button" type="submit" name="button">Update</button>
            <button id="delete-button" type="submit" name="button">Delete</button>

          </form>
        </div>
      </div>
      <div>

        <div>
          <!-- Log In -->
          <form id="login-form" class="hidden">
            <h1>Dress Me</h1>
            <div>
              <input type="text" name="username" value="" placeholder="Phone Number">
              <input type="password" name="password" value="" placeholder="Password">
            </div>
            <button type="submit" name="button">Log in</button>
            <div class="form-group">
              <a href="#" id="sign-up-link">Haven't sign-up yet? Click here</a>
            </div>
          </form>

          <!-- Sign up -->
          <form id="sign-up-form" style="color:white;" class="hidden">
            <h1>Dress Me</h1>
            <div class="form-group hidden" id='signup-step-1'>
              <h3>Zipcode?</h3>
              <input type="number" name="zipcode" value="" placeholder="5 Digit Zipcode">
              <br>
              <button type="button" name="button-1">Next</button>
              <div class="form-group">
                <a href="#" id="login-link">Already have an account? click here</a>
              </div>
            </div>
            <div class="form-group hidden" id='signup-step-2'>
              <h3>Gender?</h3>
              <input type="radio" name="gender" value="Male" >Male
              <input type="radio" name="gender" value="Female" checked >Female
              <br>
              <button type="button" name="button-2">Next</button>
            </div>
            <div class="form-group hidden" id='signup-step-3'>
              <h3>How do you feel?</h3>
              <input type="radio" name="temp_pref" value="Hot" >I am always hot
              <input type="radio" name="temp_pref" value="Ok" checked >I'm usually ok
              <input type="radio" name="temp_pref" value="Cold" >I am always cold
              <br>
              <button type="button" name="button-3">Next</button>
            </div>
            <div class="form-group hidden" id='signup-step-4'>
              <h3>Can we text you?</h3>
              <input type="checkbox" name="text_opt_in" value="1" placeholder="Text?">Text opt in?
              <br>
              <button type="button" name="button-4">Next</button>
            </div>
            <div class="form-group hidden" id='signup-step-5'>
              <h3>Create your account!</h3>
              <input type="number" name="username" value="" placeholder="Username">
              <br>
              <input type="password" name="password" value="" placeholder="Password">
              <br>
              <input type="password" name="password_confirm" value="" placeholder="Password Confirm">
              <br>
              <button type="submit" class="btn btn-default" name="button2">Complete Sign Up</button>
            </div>


          </form>

          <!-- Items Form -->
        </div>
      </div>

    </div>

  </body>
</html>
