<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> DressMe </title>
    <!-- Styles -->
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <script src="/js/otherscripts.js" charset="utf-8"></script>
    <script src="/js/text.js" charset="utf-8"></script>
    <script src="/js/apiResource.js" charset="utf-8"></script>
    <script src="/js/outfit.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>

  </head>
  <body>
    <header>
      <meta name="viewport" content="width=device-width">
    </header>

    <div>
      <div id="landing-container" class="displayed">
        <h1>DressMe</h1>
        <h5>Welcome to DressMe! We're here to help you dress for the weather. We'll make sure you're prepared for any possible weather changes in your area. Sign up for a daily weather report and outfit recommendation to get the most out of your account!</h5>
        <br>
        <button type="button" id="landing-cta-button">Get Dressed</button><br>
        <a href="#" id='landing-login-link'>Already have an account? Log in here.</a>
      </div>
      <div>
        <div id="alert-msg" class="hidden">
          <!-- Msg goes here -->
        </div>
      </div>
      <div id="logged-in-container" class="hidden">
        <header id='logged-in'>
          <h2>DressMe</h2>
          <a href="#" id="account-link">My Account</a> |
          <a href="#" id="log-out-link">Logout</a>
        </header>

        <div id='content-container' class="displayed">
          <div class="container">
              <div class = "six columns">
                <div id="weather-forecast">
                  <div id="morning-forecast">
                    <h4>Morning</h4>
                  </div>
                  <div id="midday-forecast">
                    <h4>Midday</h4>
                  </div>
                  <div id="evening-forecast">
                    <h4>Evening</h4>
                  </div>
                </div>
              </div>
              <div class = "five columns">
                <div id='rec-container'>
                  <div id="current-weather-container">
                  </div>
                  <div id="outfit-container">
                    <img src="/images/mens/default.jpg">
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div id="account-container" class="hidden" style="color:white;">
          <form id="account-form">
            <div>

              <h4><font color="#fdd414">My Account</font></h4>
              <h6>PHONE NUMBER</h6>
              <input type="number" name="username" value="" placeholder="Username">
              <h6>ZIPCODE</h6>
              <input type="number" name="zipcode" value="" placeholder="Zipcode">
              <h6>GENDER</h6>
              <input type="radio" name="gender" value="male" >Male
              <input type="radio" name="gender" value="female" checked >Female
              <h6>PREFERENCE</h6>
              <input type="radio" name="temp_pref" value="Hot" >I'm always hot
              <input type="radio" name="temp_pref" value="Ok" checked >I'm usually ok
              <input type="radio" name="temp_pref" value="Cold" >I'm always cold
              <h6>TEXT OPT-IN</h6>
              <input type="checkbox" name="text_opt_in" value="1" placeholder="Text?">
            </div>
            <button id="update-button" type="submit" name="button">Update</button>
            <button id="delete-button" type="submit" name="button">Delete</button>

          </form>
        </div>
      </div>
      <div>

        <div>
          <!-- Log In -->
          <form id="login-form" class="hidden">
            <h1>DressMe</h1>
            <div>
              <h6>PHONE NUMBER</h6>
              <input type="text" name="username" value="" placeholder="Phone Number">
              <h6>PASSWORD</h6>
              <input type="password" name="password" value="" placeholder="Password">
            </div>
            <button type="submit" name="button">Log in</button>
            <div class="form-group">
              <a href="#" id="sign-up-link">Need an account? Sign up here.</a>
            </div>
          </form>

          <!-- Sign up -->
          <form id="sign-up-form" style="color:white;" class="hidden">
            <h1>DressMe</h1>
            <div class="form-group hidden" id='signup-step-1'>
              <h6>ENTER ZIPCODE</h6>
              <input type="number" name="zipcode" value="" placeholder="5 Digit Zipcode">
              <br>
              <h6>TELL ME ABOUT YOURSELF.</h6>
              <input type="radio" name="temp_pref" value="hot" >I'm always hot
              <input type="radio" name="temp_pref" value="ok" checked >I'm usually ok
              <input type="radio" name="temp_pref" value="cold" >I'm always cold
              <br>
              <h6>ENTER GENDER</h6>
              <input type="radio" name="gender" value="male" >Male
              <input type="radio" name="gender" value="female" checked >Female
              <br>
              <button type="button" id='button1' name="button-1">Next</button>
              <div class="form-group">
                <a href="#" id="login-link">Already have an account? Log in here.</a>
              </div>
            </div>
            <div class="form-group hidden" id='signup-step-2'>
              <h6>Create your account:</h6>
              <input type="number" name="username" value="" placeholder="Phone Number">
              <br>
              <input type="password" name="password" value="" placeholder="Password">
              <br>
              <input type="password" name="password_confirm" value="" placeholder="Password Confirm">
              <br>
              <br>
              <h6>Get your weather and wardrobe recommendations to your phone every morning!</h6>
              <input type="radio" name="text_opt_in" value="1" checked >Yes, I want this!
              <input type="radio" name="text_opt_in" value="0" >No thank you.
              <br>
              <button type="submit" class="btn btn-default" name="button2">Complete Your Account</button>
            </div>
          </form>

          <!-- Items Form -->
        </div>
      </div>

    </div>

  </body>
</html>
