<!--SAM: I'm thinking this page will be log in and sign up depending on auth status. For now, doing everything on index to get it working  -->

          <!-- <form id="sign-up-form" class="hidden">
            <div class="form-grup">
              <input type="text" name="username" value="" placeholder="username">
              <input type="text" name="email" value="" placeholder="email">
              <input type="password" name="password" value="" placeholder="password">
              <input type="password" name="password_confirm" value="" placeholder="password confirm">
            </div>
            <div class="form-group">
              <a href="#" id="login-link">Already have an account? click here</a>
            </div>
            <button type="submit" class="btn btn-default" name="button">Sign up</button>
          </form> -->
