<html>
  <head>
    <meta charset="utf-8">
    <title> DressMe </title>
    <!-- Styles -->
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <script src="/js/otherscripts.js" charset="utf-8"></script>
    <script src="/js/text.js" charset="utf-8"></script>
    <script src="/js/apiResource.js" charset="utf-8"></script>
    <script src="/js/outfit.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>

  </head>
  <body>
    <input type="number" id="text-test-input">
    <button type="button" style="color:purple;" id="text-test-button">Send Text</button>


  </body>
</html>
