body{
  background-image: url("/images/background.jpg");
  background-size: cover;
}

.hidden{
  display: none;
}

.displayed{
  display:block;
}

h1 {
  color: #ffd614;
  font-family: 'Architects Daughter', cursive;
}

#content-container {

}

#landing-container {
  background-color: rgba(0,0,0,.8);
  width: 60%;
  padding: 3em;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  color: white;
}

#sign-up-form {
  background-color: rgba(0,0,0,.8);
  width: 60%;
  padding: 3em;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  color: black;

}

#login-form {
  background-color: rgba(0,0,0,.8);
  width: 60%;
  padding: 3em;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  color: black;
}

#account-container {
  background-color: rgba(0,0,0,.8);
  width: 60%;
  padding: 3em;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

#logged-in-container {
  z-index: 1;
  text-align: center;
  background-color: rgba(255, 255, 255,.9);
  padding-top: 3%;
  margin: -1%;
}



#logged-in {
  margin-bottom: 2%;
}

#weather-forecast {
  display: inline-block;
}

#rec-container {
  border: solid red;
}

input {
  margin: .5em;
  color: black;
}

button {
  color: white;
  margin: 2em;

}

img {
    width: 100%;
    height: auto;
}

p {
  margin: 0;
  padding: 0;
}

h4 {
  margin: .5em;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  font-size: 18px;
  text-decoration: none;
}
