body{
  background-image: url("/images/background.jpg");
  background-size: cover;
}

.hidden{
  display: none;
}

.displayed{
  display:block;
}

#landing-container {
  background-color: rgba(0,0,0,.8);
  width: 60%;
  padding: 3em;
  margin: auto;
  text-align: center;
  margin-top: 20%;
  color: white;
}
