body{
  background-image: url("/images/background.jpg");
  background-size: cover;
}

.hidden{
  display: none;
}

.displayed{
  display:block;
}

h1 {
  color: #fdd414;
  font-family: 'Bitter', serif;
}
h2 {
  font-size: 3em;
  color: black;
  font-family: 'Bitter', serif;
}

#temp {
  font-size: 3em;
  color: black;
  font-family: 'Bitter', serif;
  margin-bottom:
}

#content-container {

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#weather-forecast {
 background-color: white;
 padding: 3%;
 padding-left: 10%;
 padding-right: 10%;
 border: solid black;
}


#landing-container {
  background-color: rgba(0,0,0,.8);
  width: 45%;
  height: 60%;
  padding: 3em;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  color: black;
}

#sign-up-form {
  background-color: rgba(0,0,0,.8);
  width: 45%;
  padding: 3em;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  color: black;

}

#login-form {
  background-color: rgba(0,0,0,.8);
  width: 45%;
  padding: 3em;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  color: black;
}

#account-container {
  background-color: rgba(0,0,0,.8);
  width: 45%;
  padding: 2%;
  margin: auto;
  text-align: center;
}

#logged-in-container {
  z-index: 1;
  text-align: center;
  background-color: rgba(255, 255, 255,.8);
  padding-top: 3%;
  padding-bottom: 3%;
  margin: -1%;
  height: 100%;
}


#logged-in {
  margin-bottom: 2%;
}

#weather-forecast {
  display: inline-block;
}

#rec-container {
  background-color: white;
  padding: 6%;
  height: 100%;
  border: solid black;
}

input {
  margin: .5em;
  color: black;
}

button {
  color: white;
  margin-top: 1em;
  margin-bottom: 3em;

}

img {
    width: 75%;
}

.img-rec {
    width: 100%;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif;
}

h4 {
  margin: .5em;
  padding: 0;
  font-family: 'Bitter', serif;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
}

h6 {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  font-size: 16px;
  color: white;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: red;
}

a:hover {
    color: #9c0c01;
}

button:hover {
    color: #fdd414;
}

/*@media only screen and (max-width: 768px) {
  #account-container {width: 90%;)
  #landing-container {width: 90%;)
}*/

@media(max-width: 375px){

  #account-container{
    width: 80%;
    margin: auto;
  }

  #landing-container {
    width: 90%;
    padding: 1em;
    margin: auto;
  }

  #sign-up-form{
    width: 80%;
    margin: auto;
  }

  #login-form{
    width: 80%;
    margin: auto;
  }
}
